head
	title Devices Monitor
	link(rel="stylesheet", href="/stylesheets/style.css")


	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css")

	script(src="//code.jquery.com/jquery.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

	script
		$(document).ready(function(){
			$("button").click(function() {
				var msg=prompt("Please Enter The Message");
				if (msg!=null)
				{
				}

			});
		});