extends ../layout

block content
	h1 Users
		table(class='table  table-condensed table-hover')
			tr
					td Login name
					td Check point
					td send message
					td logout

			for guard in guards
				tr
					td= guard.email
					td= guard.cp
					td
						button(class="btn btn-success") send message
					td
						button(class="btn btn-danger") logout

